<!-- <ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content style="background-image: url('assets/img/map.png'); background-size: cover; height: 100%; background-position: top center;">


  <button ion-button icon-start class="camera-btn classic-btn" (click)="launchCamera()">
    <ion-icon name="camera" class="text-yellow"></ion-icon>
    <p>Expresate</p>
  </button>

  <img src="{{ photo }}" alt="">
</ion-content>
