@import "variables";

.no-shadow {
    box-shadow: none !important;
}

.classic-btn {
    color: map-get($colors, grey);
    background-color: white;
    border-radius: 1000px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 200px;
    font-weight: 500;
    font-size: 1.6em; 
    font-family: "Roboto", sans-serif;
    
    &.activated {
        background-color: map-get($colors, light) !important;
    }
}

.text-yellow {
    color: map-get($colors, yellow);
}